// Box sizzing 
* {
	box-sizing: border-box;
	font-family: sans-serif;
}

// Wrapper 
.wrapper {
  max-width: 1400px;
  width: 94%;
  margin: 0 auto;
}

// List 
li {
  display: inline-block;
  list-style-type: none;
}

//anchor
a { 
  display: inline-block;
  text-decoration: none; 
}

main { 
  background-color: $light-gray;
  float: left;
}

.up { text-transform: uppercase; }
.cap { text-transform: capitalize; }

%hide-text {
  display: inline-block;
  text-indent: -9999px;
}

%show-icon {
  width: 14px;
  padding: 10px 11px;
  margin-left: 10px;
  @include border-radius(18px);
  float: right;
  background: $gray;
  color: $white;
  font-family: $fontawesome;
  text-align: center;
  text-indent: 0;
}