%angle-down {
  content: '\f107';
  color: $gray;
  font-family: $fontawesome;
}

header {
  background-color: $black;

  h1 { display: inline-block; }
  
  nav { 
    display: inline-block;

    .menu {
      padding-left: 20px;

      li { 
        margin-right: 45px; 

        a { 
          color: $gray;
          font-family: $primary-font;
          font-size: $small;
          text-transform: capitalize;
        }

        &:nth-child(1):after { @extend %angle-down; }
        &:nth-child(3):after { @extend %angle-down; }
      }
    }
  }

  .login { 
    margin-right: 20px;
    float: right;

    .subscribed { 
      margin-right: 20px;
      color: $gray;
      font-family: $primary-font;
    }

    .userl { 
      text-indent: -9999px;
      display: inline-block;

      &:after {
        content:'\f007';
        float: right;
        color: $white;
        font-family: $fontawesome;
        text-indent: 0;
      }
    }

    &__info {
      display: inline-block;

      a { 
        display: block;
        position: relative;
        top: 10px;
        color: $gray;

        &.more { color: $dark-yellow; }
      }
    }
  }
}

.hamburger { 
  text-indent: -9999px;
  display: inline-block; 
}