@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin display-flex($content) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: $content;
}