//color start
$black: rgb(52,62,66);
$gray : rgb(177, 178, 179);
$white:rgb(255,255,255);
$dark-yellow : rgb(255, 217, 0);
//font-family 
$primary-font: sans-serif; 
$fontawesome: "Fontawesome";
//font-size
$small: 14px;