html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

.wrapper {
  max-width: 1400px;
  width: 94%;
  margin: 0 auto; }

li {
  display: inline-block;
  list-style-type: none; }

a {
  display: inline-block;
  text-decoration: none; }

main {
  background-color: #f6f6f7;
  float: left; }

.up {
  text-transform: uppercase; }

.cap {
  text-transform: capitalize; }

.air .social__links li .facebook, .air .social__links li .linkedin, .air .social__links li .twitter, .air .social__links li .email, footer .buckle-container .update ul li .facebook2, footer .buckle-container .update ul li .twitter2, footer .buckle-container .update ul li .google-plus, footer .buckle-container .update ul li .linkedin2, footer .buckle-container .update ul li .instagram, footer .buckle-container .update ul li .youtube {
  display: inline-block;
  text-indent: -9999px; }

.air .social__links li .facebook::after, .air .social__links li .linkedin::after, .air .social__links li .twitter::after, .air .social__links li .email::after, footer .buckle-container .update ul li .facebook2::after, footer .buckle-container .update ul li .twitter2::after, footer .buckle-container .update ul li .google-plus::after, footer .buckle-container .update ul li .linkedin2::after, footer .buckle-container .update ul li .instagram::after, footer .buckle-container .update ul li .youtube::after {
  width: 14px;
  padding: 10px 11px;
  margin-left: 10px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  float: right;
  background: #b6b6b6;
  color: white;
  font-family: "Fontawesome";
  text-align: center;
  text-indent: 0; }

header nav .menu li:nth-child(1):after, header nav .menu li:nth-child(3):after, header .login__info a.more::after {
  content: '\f107';
  color: #b6b6b6;
  font-family: "Fontawesome"; }

header {
  background-color: #343e42; }
  header h1 {
    display: inline-block; }
  header nav {
    display: inline-block; }
    @media screen and (max-width: 480px) {
      header nav {
        display: none; } }
    header nav .menu {
      padding-left: 20px; }
      header nav .menu li {
        margin-right: 45px; }
        header nav .menu li a {
          color: #b6b6b6;
          font-family: sans-serif;
          font-size: 14px;
          text-transform: capitalize; }
          header nav .menu li a:hover {
            color: white; }
  header .login {
    margin-right: 20px;
    float: right; }
    @media screen and (max-width: 480px) {
      header .login {
        margin-top: 10px; } }
    header .login .subscribed {
      margin-right: 20px;
      color: #b6b6b6;
      font-family: sans-serif;
      font-size: 14px;
      text-transform: capitalize; }
      header .login .subscribed:hover {
        color: white; }
    header .login .userl {
      text-indent: -9999px;
      display: inline-block; }
      header .login .userl:after {
        content: '\f007';
        float: right;
        color: white;
        font-family: "Fontawesome";
        text-indent: 0; }
      header .login .userl:hover {
        color: white; }
    header .login__info {
      margin-right: 20px;
      display: inline-block; }
      header .login__info a {
        display: block;
        position: relative;
        top: 10px;
        color: #b6b6b6;
        font-family: sans-serif;
        font-size: 14px; }
        header .login__info a.more {
          color: #ffd900; }
          header .login__info a.more::after {
            position: relative;
            bottom: 10px;
            left: 8px; }
        header .login__info a:hover {
          color: white; }
        @media screen and (max-width: 480px) {
          header .login__info a {
            display: none; } }
    header .login .search-btn {
      color: #b6b6b6;
      font-size: 14px;
      text-transform: capitalize; }
      header .login .search-btn .search {
        display: inline-block;
        text-indent: -9999px; }
        header .login .search-btn .search:after {
          content: '\f002';
          float: right;
          color: white;
          font-family: "Fontawesome";
          font-size: 14px;
          text-indent: 0; }
      header .login .search-btn:hover {
        color: white; }

.credits {
  background-color: white;
  padding: 15px 0; }
  .credits .wrapper {
    width: 84%;
    margin: 0 auto; }
    .credits .wrapper .advertisement {
      color: #343e42;
      font-family: sans-serif;
      font-size: 10px;
      font-weight: 900;
      text-decoration: underline;
      text-transform: uppercase; }
      .credits .wrapper .advertisement::after {
        content: '\f105';
        padding-left: 10px;
        float: right;
        font-size: 14px;
        font-family: "Fontawesome"; }
      .credits .wrapper .advertisement:hover {
        color: #e3120b; }
  .credits__sponsor {
    float: right; }
    .credits__sponsor a {
      display: inline;
      color: #343e42;
      font-family: sans-serif;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase; }
    .credits__sponsor img {
      width: 80px; }

.hamburger {
  text-indent: -9999px;
  display: inline-block; }

.page-info {
  padding: 20px 0; }
  .page-info .wrapper {
    width: 84%;
    margin: 0 auto; }
  .page-info a {
    color: #078a74;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize; }
  .page-info .homemenu-btn {
    padding: 8px;
    float: right;
    background-color: #343e42; }
    .page-info .homemenu-btn img {
      width: 16px; }

aside {
  width: 25%;
  margin-right: 6.5%;
  float: right; }
  aside .wrapper {
    margin: 0; }
  aside .blogs li {
    margin-bottom: 30px;
    background-color: white; }
    aside .blogs li .story {
      width: 90%;
      padding: 12px 0;
      margin: 0 auto; }
      aside .blogs li .story .author .name {
        display: block;
        font-size: 10px; }
      aside .blogs li .story .author img {
        width: 55px; }
      aside .blogs li .story a {
        padding: 10px 0;
        color: #078a74;
        font-size: 15px;
        line-height: 1.5;
        text-decoration: underline; }
        aside .blogs li .story a:hover {
          color: #343e42; }
      aside .blogs li .story p {
        color: #343e42;
        font-size: 12px;
        line-height: 1.5; }
    aside .blogs li .wind-mill-img {
      min-height: 200px;
      background-image: url(../images/Home_img-e1533629478865-1.jpg);
      background-size: cover; }
      aside .blogs li .wind-mill-img img {
        width: 50px;
        margin: 25% 40%; }

.air {
  max-width: 67%; }
  .air .wrapper {
    width: 88%;
    margin-left: 12%;
    background-color: white; }
  .air .video-img {
    background-image: url(../images/1.jpg);
    min-height: 380px;
    background-size: cover; }
    .air .video-img img {
      width: 100px;
      margin: 25% 45%; }
  .air h2 {
    padding: 30px;
    color: #078a74;
    font-size: 34px; }
  .air p {
    padding: 0 30px;
    color: #343e42;
    font-size: 14px;
    line-height: 1.5; }
  .air .social {
    width: 88%;
    padding-top: 50px;
    padding-bottom: 426px;
    margin-left: 12%;
    background-color: white; }
    .air .social__links {
      float: right;
      margin-right: 50px; }
      .air .social__links li .facebook::after {
        content: '\f09a'; }
      .air .social__links li .linkedin::after {
        content: '\f0e1'; }
      .air .social__links li .twitter::after {
        content: '\f099'; }
      .air .social__links li .email::after {
        content: '\f0e0'; }

footer {
  width: 100%;
  float: left;
  background-color: #121212; }
  footer .buckle-container {
    padding: 30px 0;
    border-bottom: 0.5px solid #b6b6b6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .buckle-container .contact-help {
      border-right: 0.5px solid #b6b6b6; }
      footer .buckle-container .contact-help ul li {
        display: block;
        padding: 10px 20px; }
        footer .buckle-container .contact-help ul li a {
          color: white;
          font-family: sans-serif;
          font-size: 14px;
          font-weight: 600;
          text-transform: capitalize; }
          footer .buckle-container .contact-help ul li a:hover {
            color: #ffd900; }
    footer .buckle-container .update {
      width: 50%;
      border-right: 0.5px solid #b6b6b6; }
      footer .buckle-container .update h3 {
        padding: 10px 20px;
        font-family: sans-serif;
        font-size: 12px;
        color: #b6b6b6; }
      footer .buckle-container .update ul {
        padding-left: 20px; }
        footer .buckle-container .update ul li .facebook2::after {
          content: '\f09a';
          background-color: transparent;
          color: #b6b6b6;
          font-size: 18px; }
        footer .buckle-container .update ul li .facebook2:hover::after {
          color: #ffd900; }
        footer .buckle-container .update ul li .twitter2::after {
          content: '\f099';
          background-color: transparent;
          color: #b6b6b6;
          font-size: 18px; }
        footer .buckle-container .update ul li .twitter2:hover::after {
          color: #ffd900; }
        footer .buckle-container .update ul li .google-plus::after {
          content: '\f0d5';
          background-color: transparent;
          color: #b6b6b6;
          font-size: 18px; }
        footer .buckle-container .update ul li .google-plus:hover::after {
          color: #ffd900; }
        footer .buckle-container .update ul li .linkedin2::after {
          content: '\f0e1';
          background-color: transparent;
          color: #b6b6b6;
          font-size: 18px; }
        footer .buckle-container .update ul li .linkedin2:hover::after {
          color: #ffd900; }
        footer .buckle-container .update ul li .instagram::after {
          content: '\f16d';
          background-color: transparent;
          color: #b6b6b6;
          font-size: 18px; }
        footer .buckle-container .update ul li .instagram:hover::after {
          color: #ffd900; }
        footer .buckle-container .update ul li .youtube::after {
          content: '\f16a';
          background-color: transparent;
          color: #b6b6b6;
          font-size: 18px; }
        footer .buckle-container .update ul li .youtube:hover::after {
          color: #ffd900; }
    footer .buckle-container .more-aboutus ul li {
      padding: 10px 20px;
      display: block; }
      footer .buckle-container .more-aboutus ul li a {
        color: #b6b6b6;
        font-family: sans-serif;
        font-size: 12px;
        text-transform: capitalize; }
        footer .buckle-container .more-aboutus ul li a:hover {
          color: #ffd900; }
  footer .publish {
    padding: 30px 0;
    border-bottom: 0.5px solid #b6b6b6;
    line-height: 1.2; }
    footer .publish h4 {
      color: #868686;
      font-family: sans-serif;
      font-size: 14px;
      text-align: center; }
    footer .publish p {
      width: 35%;
      margin: 0 auto;
      color: #868686;
      font-family: sans-serif;
      font-size: 12px;
      font-style: italic;
      line-height: 1.4;
      text-align: center; }
  footer .terms-copyright {
    padding: 15px 0; }
    footer .terms-copyright .terms {
      display: inline-block; }
      footer .terms-copyright .terms li {
        padding-right: 20px; }
      footer .terms-copyright .terms a {
        color: #b6b6b6;
        font-family: sans-serif;
        font-size: 12px;
        text-transform: capitalize; }
        footer .terms-copyright .terms a:hover {
          color: white; }
    footer .terms-copyright .copyright {
      float: right;
      color: #868686;
      font-family: sans-serif;
      font-size: 12px; }
  footer::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #e3120b; }

/*# sourceMappingURL=style.css.map */
