html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

.wrapper {
  max-width: 1400px;
  width: 94%;
  margin: 0 auto; }

li {
  display: inline-block;
  list-style-type: none; }

a {
  display: inline-block;
  text-decoration: none; }

.up {
  text-transform: uppercase; }

.cap {
  text-transform: capitalize; }

header nav .menu li:nth-child(1):after, header nav .menu li:nth-child(3):after, header .login__info a.more::after {
  content: '\f107';
  color: #b1b2b3;
  font-family: "Fontawesome"; }

header {
  background-color: #343e42; }
  header h1 {
    display: inline-block; }
  header nav {
    display: inline-block; }
    header nav .menu {
      padding-left: 20px; }
      header nav .menu li {
        margin-right: 45px; }
        header nav .menu li a {
          color: #b1b2b3;
          font-family: sans-serif;
          font-size: 14px;
          text-transform: capitalize; }
  header .login {
    margin-right: 20px;
    float: right; }
    header .login .subscribed {
      margin-right: 20px;
      color: #b1b2b3;
      font-family: sans-serif;
      font-size: 14px;
      text-transform: capitalize; }
    header .login .userl {
      text-indent: -9999px;
      display: inline-block; }
      header .login .userl:after {
        content: '\f007';
        float: right;
        color: white;
        font-family: "Fontawesome";
        text-indent: 0; }
    header .login__info {
      margin-right: 20px;
      display: inline-block; }
      header .login__info a {
        display: block;
        position: relative;
        top: 10px;
        color: #b1b2b3;
        font-family: sans-serif;
        font-size: 14px; }
        header .login__info a.more {
          color: #ffd900; }
          header .login__info a.more::after {
            position: relative;
            bottom: 10px;
            left: 8px; }
    header .login .search-btn {
      color: #b1b2b3;
      font-size: 14px;
      text-transform: capitalize; }
      header .login .search-btn .search {
        display: inline-block;
        text-indent: -9999px; }
        header .login .search-btn .search:after {
          content: '\f002';
          float: right;
          color: white;
          font-family: "Fontawesome";
          font-size: 14px;
          text-indent: 0; }

.credits {
  background-color: white;
  padding: 15px 0; }
  .credits .wrapper {
    width: 84%;
    margin: 0 auto; }
    .credits .wrapper .advertisement {
      color: #343e42;
      font-family: sans-serif;
      font-size: 10px;
      font-weight: 900;
      text-decoration: underline;
      text-transform: uppercase; }
      .credits .wrapper .advertisement::after {
        content: '\f105';
        padding-left: 10px;
        float: right;
        font-size: 14px;
        font-family: "Fontawesome"; }
  .credits__sponsor {
    float: right; }
    .credits__sponsor a {
      display: inline;
      color: #343e42;
      font-family: sans-serif;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase; }
    .credits__sponsor img {
      width: 80px; }

.hamburger {
  text-indent: -9999px;
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
